

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__main{
  position: relative;
  width: 99%;
  height:100%;
  margin:0 auto;
  border: 2px Solid black;
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
}
.q_preference{
  width: 99%;
  margin: 0 auto;
}